# Application configuration
ENVIRONMENT="staging"
APPLICATION_NAME="todo"
APPLICATION_PORT="3030"

# Database configuration
DATABASE_ENGINE="mysql"
DATABASE_HOST="localhost"
DATABASE_USER="user"
DATABASE_PASSWORD="changeme"
DATABASE_PORT="3306"
DATABASE_CHARSET="utf8mb4"